* {
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
body {
padding: 0;
margin: 0;
color: #000000;
background-color: #ffffff;
overflow-x: hidden;
}
.clearfix:after {
display: table;	
clear:  both;	
content: "";
}
.wrapper {
display: block;
width: 100%;
padding: 0;
margin: 0;
position: relative;
}
.container-block {
display: block;
width: 75%;
margin: 0 auto;
padding: 0;
}
header {
display: block;
width: 100%;
margin: 0;
padding: 0;
background-color: #f2f0ed;
position: fixed;
top: 0;
left: 0;
z-index: 10;
}
.top-section {
display: block;
width: 100%;
padding: 5px 15px;
margin: 0;
position: relative;
}
.top-logo, .top-slogan, .top-contacts {
display: inline-block;
vertical-align: middle;
}
.top-logo {
float: left;
width: 175px;
height: 90px;

}
.top-slogan {
display: inline-block;
font-family: 'Marck Script', cursive;
margin-left: 50px;
font-size: 1.5em;
text-transform: uppercase;
}
.delivery {
	padding-left: 100px;
	font-size: 2em;
}

.top-contacts {
float: right;
font-size: 1.7em;
padding: 0;
margin: 0;
margin-top: 15px;
letter-spacing: 1px;
font-weight: bold;
}
ul {
	list-style: none;
}
.cart {
	display: block;
	position: absolute;
	top: 13px;
	right: 0;
	padding: 15px;
	background-color: rgba(250,171,73,0.5);
}
.counter {
	position: absolute;
	top: 10px;
	right: 5px;
	background-color: red;
	padding: 5px 7px;
	
}
.test-block {
	padding-top: 200px;
}
.item-cart {
	display: inline-block;
	padding: 10px 30px;
	border: 1px solid black;
	border-collapse: collapse;
}
.modal-body {
	text-align: center;
}